{variables, [
	{appid, "icans_app"},
	{author, "John Doe"}
]}.

{file,		"_icans_default/app/_gitignore",			"{{appid}}/.gitignore"}.
{template,	"_icans_default/app/src/template.erl",			"{{appid}}/src/{{appid}}.erl"}.
{template,	"_icans_default/app/src/template_app.erl",		"{{appid}}/src/{{appid}}_app.erl"}.
{template,	"_icans_default/app/src/template_sup.erl",		"{{appid}}/src/{{appid}}_sup.erl"}.
{template,	"_icans_default/app/src/template.app.src",		"{{appid}}/src/{{appid}}.app.src"}.
