{sub_dirs, ["src"]}.

{erl_opts, [
	fail_on_warning,
	{i, "include"},
	{i, "deps"},
	{i, "../../../deps"},
	{i, "../../../include"},
	debug_info]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam",
	"doc/*.html", "doc/*.edoc-info", "doc/*.css", "doc/*.png"]}.

{eunit_opts,
	[
		verbose,
		{report,
			{
				eunit_surefire,
				[{dir, "."}]
			}
		}]}.

{deps,
	[
	]
}.

{deps_dir, "deps"}.
